      /* ******************** */
      /* STYLING ZOOM BUTTONS */
      /* ******************** */
      #zoomOut {
        background: url(https://github.com/tdepsych/gorilla-materials/raw/main/zoom-out.svg) no-repeat;
        background-position: 4px 4px;
        background-size: 65%;
        background-color: #ADD8E6;
        cursor: pointer;
        display: inline-block;
        height: 30px;
        width: 30px;
        border: 2px solid #ADD8E6;
        border-radius: 25px;
        position: fixed;
        bottom: 5px;
        right: 40px;
      }
      
      #zoomOut:hover {
        background-color: #006599;
        border: 2px solid #006599;
      }
      
      #zoomIn {
        background: url(https://github.com/tdepsych/gorilla-materials/raw/main/zoom-in.svg) no-repeat;
        background-position: 4px 4px;
        background-size: 65%;
        background-color: #ADD8E6;
        cursor: pointer;
        display: inline-block;
        height: 30px;
        width: 30px;
        border: 2px solid #ADD8E6;
        border-radius: 25px;
        position: fixed;
        bottom: 5px;
        right: 5px;
      }
      #zoomIn:hover {
        background-color: #006599;
        border: 2px solid #006599;
      }